@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #c5e4e7;
  font-family: "Space Mono", sans-serif;
  font-size: 2.4rem;
}

.input-title {
  color: #5e7a7d;
  font-size: 1.6rem;
}

.info-input {
  background-image: url(../images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 2rem;
  background-color: #f4fafa;
  border-style: none;
  border-radius: 0.5rem;
  color: #00494d;
  font-family: "Space Mono", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1.2rem 0 4rem 0;
  padding: 0 2rem 0 2rem;
  text-align: right;
  width: 100%;
  height: 5rem;
}

.info-input:focus {
  outline-color: #26c0ab;
  caret-color: #26c0ab;
}

.people-amount {
  background-image: url(../images/icon-person.svg) !important;
}

.btn-percent {
  background-color: #00494d;
  border-radius: 0.5rem;
  border-style: none;
  color: white;
  font-family: "Space Mono", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  height: 4.6rem;
  width: 14.5rem;
}

.btn-focus {
  background-color: #26c0ab;
  color: #00494d;
}

#custom-percent {
  background-color: #f4fafa;
  border-radius: 0.5rem;
  border-style: none;
  color: #00494d;
  font-family: "Space Mono", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  height: 4.6rem;
  text-align: right;
  padding-right: 2rem;
  width: 14.5rem;
}

#custom-percent:focus {
  outline-color: #26c0ab;
  caret-color: #26c0ab;
}

#logo {
  display: block;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.calculator {
  background-color: white;
  border-radius: 3rem;
  margin: auto;
  margin-top: 4rem;
  max-width: 37.5rem;
  padding: 3.2rem;
}

.tip-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 3.9rem;
}

.error-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.error-container .error-message {
  color: red;
  display: none;
}

.error-outline {
  border: 2.5px red solid;
}

.error-outline:focus {
  outline-color: red;
}

.calc-container-2 {
  background-color: #00494d;
  border-radius: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 4.4rem 2.4rem 2.4rem 2.4rem;
  row-gap: 3rem;
}

.calc-container-2 div {
  color: white;
  font-size: 1.6rem;
}

.calc-container-2 div .per-person {
  color: #5e7a7d;
  font-size: 1.4rem;
}

.calc-container-2 .amount {
  color: #26c0ab;
  font-size: 2.8rem;
  font-weight: 700;
  -ms-grid-column-align: end;
      justify-self: end;
}

.calc-container-2 .reset {
  background-color: #26c0ab;
  border-radius: 0.5rem;
  border-style: none;
  color: #00494d;
  font-family: "Space Mono", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  height: 5rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

@media (min-width: 920px) {
  #logo {
    margin-top: 10rem;
    margin-bottom: 8.8rem;
  }
  .calculator {
    border-radius: 3rem;
    -webkit-box-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.25);
            box-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.25);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-bottom: 24rem;
    max-width: 92rem;
  }
  .calculator .calc-container-1 {
    max-width: 46rem;
    padding-left: 2rem;
    padding-right: 5rem;
  }
  .calculator .calc-container-1 .input-title {
    margin-bottom: 2rem;
  }
  .calculator .calc-container-1 .tip-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .calculator .calc-container-1 .tip-container .btn-percent {
    font-size: 2.5rem;
    font-weight: 600;
    width: 11.5rem;
  }
  .calculator .calc-container-1 .tip-container #custom-percent {
    font-size: 2.5rem;
    padding-right: 1rem;
    width: 11.5rem;
  }
  .calculator .calc-container-2 {
    padding-left: 4rem;
    padding-right: 4rem;
    row-gap: 0;
  }
  .calculator .calc-container-2 div {
    padding-top: 1.5rem;
  }
  .calculator .calc-container-2 .amount {
    font-size: 5rem;
    vertical-align: top;
  }
  .calculator .calc-container-2 .reset {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 2rem;
  }
  .info-input {
    margin-top: 0rem;
  }
}
/*# sourceMappingURL=main.css.map */