@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Removing Spinner
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// Variables
$main-bg: hsl(185, 41%, 84%);
$input-bg: hsl(189, 41%, 97%);
$input-text: hsl(183, 100%, 15%);
$btn-primary: hsl(183, 100%, 15%);
$btn-focus: hsl(172, 67%, 45%);
$input-outline: hsl(172, 67%, 45%);
$text-primary: hsl(186, 14%, 43%);
$white: hsl(0, 0%, 100%);
$spacemono: "Space Mono", sans-serif;

:root {
  font-size: 62.5%;
}

body {
  background-color: $main-bg;
  font-family: $spacemono;
  font-size: 2.4rem;
}

//Reusable Classes
.input-title {
  color: $text-primary;
  font-size: 1.6rem;
}

.info-input {
  background-image: url(../images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 2rem;
  background-color: $input-bg;
  border-style: none;
  border-radius: 0.5rem;
  color: $input-text;
  font-family: $spacemono;
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1.2rem 0 4rem 0;
  padding: 0 2rem 0 2rem;
  text-align: right;
  width: 100%;
  height: 5rem;

  &:focus {
    outline-color: $input-outline;
    caret-color: $input-outline;
  }
}

.people-amount {
  background-image: url(../images/icon-person.svg) !important;
}

.btn-percent {
  background-color: $btn-primary;
  border-radius: 0.5rem;
  border-style: none;
  color: $white;
  font-family: $spacemono;
  font-size: 2rem;
  font-weight: 700;
  height: 4.6rem;
  width: 14.5rem;
}

.btn-focus {
  background-color: $btn-focus;
  color: $btn-primary;
}

#custom-percent {
  background-color: $input-bg;
  border-radius: 0.5rem;
  border-style: none;
  color: $btn-primary;
  font-family: $spacemono;
  font-size: 2rem;
  font-weight: 700;
  height: 4.6rem;
  text-align: right;
  padding-right: 2rem;
  width: 14.5rem;

  &:focus {
    outline-color: $btn-focus;
    caret-color: $input-outline;
  }
}

// Regular Styling
#logo {
  display: block;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.calculator {
  background-color: $white;
  border-radius: 3rem;
  margin: auto;
  margin-top: 4rem;
  max-width: 37.5rem;
  padding: 3.2rem;
}

.tip-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 3.9rem;
}

.error-container {
  display: flex;
  justify-content: space-between;

  .error-message {
    color: red;
    display: none;
  }
}

.error-outline {
  border: 2.5px red solid;

  &:focus {
    outline-color: red;
  }
}

.calc-container-2 {
  background-color: $btn-primary;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4.4rem 2.4rem 2.4rem 2.4rem;
  row-gap: 3rem;

  div {
    color: $white;
    font-size: 1.6rem;

    .per-person {
      color: $text-primary;
      font-size: 1.4rem;
    }
  }

  .amount {
    color: $btn-focus;
    font-size: 2.8rem;
    font-weight: 700;
    justify-self: end;
  }

  .reset {
    background-color: $btn-focus;
    border-radius: 0.5rem;
    border-style: none;
    color: $btn-primary;
    font-family: $spacemono;
    font-size: 2rem;
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 5rem;
    margin-top: 1rem;
    text-transform: uppercase;
  }
}

@media (min-width: 920px) {
  #logo {
    margin-top: 10rem;
    margin-bottom: 8.8rem;
  }

  .calculator {
    border-radius: 3rem;
    box-shadow: 1rem 1rem 10rem rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 24rem;
    max-width: 92rem;

    .calc-container-1 {
      max-width: 46rem;
      padding-left: 2rem;
      padding-right: 5rem;

      .input-title {
        margin-bottom: 2rem;
      }

      .tip-container {
        grid-template-columns: repeat(3, 1fr);

        .btn-percent {
          font-size: 2.5rem;
          font-weight: 600;
          width: 11.5rem;
        }

        #custom-percent {
          font-size: 2.5rem;
          padding-right: 1rem;
          width: 11.5rem;
        }
      }
    }

    .calc-container-2 {
      padding-left: 4rem;
      padding-right: 4rem;
      row-gap: 0;

      div {
        padding-top: 1.5rem;
      }

      .amount {
        font-size: 5rem;
        vertical-align: top;
      }

      .reset {
        align-self: flex-end;
        margin-bottom: 2rem;
      }
    }
  }

  .info-input {
    margin-top: 0rem;
  }
}
